<div>
  <!-- Je vais implementer le filter par genre ici -->
  <div class="header-container">
    <h2>{{ sectionTitle() }}</h2>
    <div>
      <select (change)="onGenreChange($event)">
        <option value="all">All</option>
        @for(genre of genres; track $index){
        <option value="{{ genre.id }}">{{ genre.name }}</option>
        }
      </select>
    </div>
  </div>

  @if(loading()){
  <div class="movies-container">
    @for(loader of [1,2,3,4,5,6,7,8,9]; track $index){
    <div class="movie-card skeleton">
      <div style="height: 200px; width: 100%"></div>
      <div class="info">
        <h2
          class="skeleton"
          style="width: 70%; height: 20px; margin-bottom: 5px"
        ></h2>
        <p
          class="skeleton"
          style="width: 50%; height: 15px; margin-bottom: 10px"
        ></p>
        <div class="rating">
          <span class="skeleton" style="width: 40px; height: 20px"></span>
          <span class="skeleton" style="width: 60px; height: 20px"></span>
        </div>
      </div>
    </div>
    }
  </div>
  } @if(filteredMovies?.length && !loading()){

  <div class="movies-container">
    @for(movie of filteredMovies ; track $index){
    <div class="movie-card" [routerLink]="'/movie/' + movie.id">
      <img
        [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path"
        alt="In a Violent Nature"
      />
      <div class="info">
        <h3 style="text-wrap: balance">{{ movie.title }}</h3>
        <p>{{ movie.release_date }}</p>
        <div class="rating">
          <span>{{ movie.popularity }}%</span>
        </div>
      </div>
    </div>
    }
  </div>
  }@else {
  <div align="center" style="padding: 1rem">
    <p>Nous n'avons pas trouvé de films correspondant à votre recherche</p>
  </div>
  }
</div>
